.BtnContainer {
}

.Button {
  display: block;
  border: none;
  padding: 8px;
  color: #fff;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}
.Button:disabled {
  cursor: not-allowed;
  background: #ccc;
}

.Success {
  background-color: #008000;
}

.Danger {
  background-color: #ff0000;
}
