.TodoListItem {
  margin-bottom: 20px;
  border: 1px solid #000;
}

.Flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header {
  padding: 10px;
}

.Title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Detail {
  padding: 10px;
  border-top: 1px solid #000;
}

.Checkbox {
  width: auto;
  margin-right: 10px;
}

.Checkbox > input {
  width: 20px;
  height: 20px;
  margin: 0;
}

.BtnDetail {
  background-color: #00bcd4;
  margin-right: 10px;
}

.Hidden {
  display: none;
}
